*{
    margin: 0;
}

/*.subheading{
  text-align: left;
  margin-left: 150px;
}*/

body{
  font-family: 'Roboto', sans-serif;

}

.container1 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.tbl1 {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.space_search {
  padding-left: 300px;
}

.search {
  border-radius: 10px;
  border-color: darkgreen;
  background-color: #D3D3D3;
  border-width: 2px;
  height: 30px;
  width: 300px;
  padding-left: 20px;
  font-size: 20px;
}

.space_button{
  padding-left: 100px;
}

.button {
  background-color: darkgreen;
  border: 2px solid white;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.tbl2 {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}


.spacing {
  padding-left: 30px;
  padding-right: 30px;
}

.button1 {
  font-size: 15px;
  background-color: white;
  color: darkgreen;
  border-color: white;
  border-radius: 10px;
  height: 40px;
  width: 220px;
  font-weight: bold;
}

.button1:hover {
  background-color: rgb(11, 102, 35);
  color: white;
}
.button1.active {
  background-color: #155B1C;
  color: white;
}


.tbl3 {
  width: 100%;
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #48881F;
}

.header {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


/*.pagetitle {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -10px;
  text-align: center;
  color: white;
  font-size: 30px;

}*/
#about {
  background-color: rgb(11, 102, 35);
  color: white;
}
	  
.tablecom {
  margin-left: auto;
  margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #393A3A;
  color: #ffffff;
  padding: 15px 15px;
  text-align: left;
  height: 30%;
 }
/*.banner {
    background-color: #FDFFEF;
}


.navbar {
    margin-top: 12px;
    padding: 20px;
    background-color: #FDFFEF;
    height: 15px;
    text-align: center;
    font-family: Roboto,Arial, Helvetica, MS Sans Serif, sans-serif;
    font-weight: bold;
   
}
.navbar2 {
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 25px;
  background-color: #48881F  ;
  height: 15px;
  text-align: center;
  font-family: Roboto,Arial, Helvetica, MS Sans Serif, sans-serif;
  font-weight: bold;
  color: white;
 
}*/


/*.subheader {
  margin-left: 20%;
}*/

/*.navbar a {
    border-radius: 4px;
    color: #155B1C;
    font-family: Roboto, Arial, Helvetica, MS Sans Serif;
    font-size: 18px;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    color: #155B1C;
}

.navbar a.active {
    background-color: #155B1C;
    color: white;
	padding-top: 12px;
	padding-bottom: 20px;
  border-radius: 20%;
  border-radius: 40px;
}*/

.maincontent{
    background-color: #FDFFEF;
    margin-top: 12px;
}

footer {
    background-color: #393A3A;
    color: #ffffff;
    padding: 15px 15px;
    text-align: left;
    height: 30%;
   }

.container-text{
    background-color: white;
    margin: 30px 20px 20px 30px;
    padding:20px;
    border-radius: 10px;
    font-size: 14px
}

.container-text2{
    background-color: white;
    margin: 30px 20px 20px 30px;
    padding:20px;
    border-radius: 10px;
    font-size: 14px;
    font-family:  'Roboto', sans-serif;
}


.title{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin-left: 38%;
    margin-right: 50px;
    
}
  table{
    margin: 0;
  }
  .btn {
    display: inline-block;
    margin-top: 22px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #AD718A ;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: arial;
    margin-left: 35%;
    margin-bottom: 10%;

    
   
  }


  .btn2 {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #AD718A ;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: arial;
    margin-left: 35%;
    margin-bottom: 10%;

    
  }

  
  .btn3 {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #AD718A ;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: arial;
    margin-left: 35%;
    margin-bottom: 10%;
  }


  
  .btn4 {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #AD718A ;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: arial;
    margin-left: 35%;
    margin-bottom: 10%;
  }

  .btn:hover {
    background-color: #50341a;
    color: rgb(255, 255, 255);
  }

  .btn2:hover {
    background-color: #50341a;
    color: rgb(255, 255, 255);
  }

  .btn3:hover {
    background-color: #50341a;
    color: rgb(255, 255, 255);
  }

  .btn4:hover {
    background-color: #50341a;
    color: rgb(255, 255, 255);
  }

  .container2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #8B4513;
    border-style: outset;
    border-radius: 10px; 
    border-color: #F0E68C;
    border-width: 4px;
    color: white;
	  padding-top: 20px;
	  padding-bottom: 20px;
    height: 5px;
    font-size: 15px;
    width: 22%;
    text-align: center;
  }
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .content{
    text-align: justify;
  }

  .subtitle {
    margin-top: -8px;
  }

  .herbal {
    align-items: center !important;
    align-content: center;
    justify-content: center;
    display: grid;
 }
 .space {
  justify-content: space-between;
  padding: 0 20px;
}
.card {
  background-color: white;
  border-style: outset;
  border-color: green;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 170px;
}

IMG.imgherb {
  display: block;
      margin-left: auto;
      margin-right: auto;
  border-radius: 10px;
  height: 170px;
  width: 170px;
}
.button{
  margin-top: 1px;
  margin-left: 10%;
  font-family: Helvetica;
  border-radius: 5px;
  border-color: rgb(210, 210, 210);
  color: white;
  background-color: green;
  height: 40px;
  width: 130px;
  font-size: 16px;
  margin-right: 12px;
  outline: none;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(232, 184, 162);
  color: brown;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-image: url("bgHM.png");
  background-size: 1000px 510px;
  background-repeat: no-repeat;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 70%;
  border: solid;
  border-color: brown;
  border-radius: 10px;
  text-align: justify;
}
.modal-content p {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  font-family: Helvetica;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
 
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 1 */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 2 */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 3 */
.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 4 */
.close4 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 5 */
.close5 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 6 */
.close6 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 7 */
.close7 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close7:hover,
.close7:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 8 */
.close8 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close8:hover,
.close8:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 9 */
.close9 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close9:hover,
.close9:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 10 */
.close10 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close10:hover,
.close10:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 11 */
.close11 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close11:hover,
.close11:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 12 */
.close12 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close12:hover,
.close12:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 13 */
.close13 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close13:hover,
.close13:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 14 */
.close14 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close14:hover,
.close14:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 15 */
.close15 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close15:hover,
.close15:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 16 */
.close16 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close16:hover,
.close16:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 17 */
.close17 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close17:hover,
.close17:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 18 */
.close18 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close18:hover,
.close18:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button 19 */
.close19 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close19:hover,
.close19:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

	 
IMG.dphoto {
  display: block;
      margin-left: auto;
      margin-right: auto;
  border-radius: 10px;
  height: 150px;
  width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}